<% content_for(:title, current_page.title) %>
<% content_for(:description, Nokogiri::HTML(current_page.summary(115)).text) %>

<% wrap_layout :layout do %>
  <section class="blog">
    <article itemscope itemtype="http://schema.org/Article" class="blog-entry">
      <header>
        <div class="anim-content">
          <h1 itemprop="name"><%= current_page.title %></h1>
          <div class="meta">
            <time itemprop="datePublished" datetime="current_page.date.strftime('%b %e %G')"><%= current_page.date.strftime('%b %e, %G') %></time>
            <% if current_page.metadata[:page]['author'] %>
              <span itemprop="author"> : <%= current_page.metadata[:page]['author'] %></span>
            <% end %>
          </div>
        </div>
      </header>
      <div itemprop="articleBody" class="blog-body">
        <%= yield %>
      </div>
      <% if current_page.tags %>
        <%= sentence_tag_list(current_page) %>
      <% end %>
      <% prev_article = current_page.previous_article
         next_article = current_page.next_article
         if prev_article || next_article %>
          <ul class="article-nav">
            <% if prev_article %>
              <li class="prev">Prev: <%= link_to(prev_article.title, prev_article.url) %></li>
            <% end %>
            <% if next_article %>
              <li class="next">Next: <%= link_to(next_article.title, next_article.url) %></li>
            <% end %>
          </ul>
      <% end %>
    </article>
  </section>
<% end %>