<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>"/>
  <meta name="keywords" content="design, web design, HTML5, CSS3, typography, layout, grids, goats, javascript, ruby, ruby on rails, wordpress, php, middleman app, games, web applications, ottawa, ottawa web design, ottawa web development, canada web design"/>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="turbolinks-cache-control" content="no-preview">
  <script>(function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement)</script>
  <link href="/images/favicon.ico" rel="shortcut icon"></link>
  <% if app.development? %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/613266/css/fonts.css" />
  <% elsif app.build? %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/642046/css/fonts.css" />
  <% end %>
  <%= stylesheet_link_tag "application.css", "highlighting.css" %>
  <%= javascript_include_tag "application.bundle" %>
  <%= yield_content :javascript %>
</head>
<body id="capra" class="<%= custom_page_classes %>">
  <%= partial "header" %>
  <div id="wrapper" class="animated">
    <main role="main">
      <%= yield %>
    </main>
    <%= partial "footer" %>
  </div>
</body>
</html>