<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>"/>
  <meta name="keywords" content="design, web design, HTML5, CSS3, typography, layout, grids, goats, javascript, ruby, ruby on rails, wordpress, php, middleman app"/>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/images/favicon.ico" rel="shortcut icon"></link>
  <% if development? %>
    <!-- <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/613266/css/fonts.css" /> -->
  <% elsif build? %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/642046/css/fonts.css" />
  <% end %>
  <%= stylesheet_link_tag "site.css" %>
  <%= stylesheet_link_tag "highlighting.css" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag("html5shiv.min.js") %>
  <![endif]-->
</head>
<body id="capra" class="<%= custom_page_classes %>">
  <%= partial "header" %>
  <%= partial "featured_projects" if current_page.path == "index.html" %>
  <main role="main">
    <%= yield %>
  </main>
  <%= partial "footer" %>
  <%= javascript_include_tag "application" %>
  <script>
      var _gaq = [['_setAccount', 'UA-15656719-1'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
</body>
</html>