<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>"/>
  <meta name="keywords" content="design, web design, HTML5, CSS3, typography, layout, grids, goats, javascript, ruby, ruby on rails, wordpress, php, middleman app, games, web applications, ottawa, ottawa web design, ottawa web development, canada web design"/>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script>(function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement)</script>
  <link href="/images/favicon.ico" rel="shortcut icon"></link>
  <% if app.development? %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/613266/css/fonts.css" />
  <% elsif app.build? %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/613014/642046/css/fonts.css" />
  <% end %>
  <%= stylesheet_link_tag "site.css", "highlighting.css" %>
  <%= javascript_include_tag "application" %>
  <%= yield_content :javascript %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag("html5shiv.min.js") %>
  <![endif]-->
  <% if app.development? %>
    <script src="https://get.gridsetapp.com/34301/overlay/"></script>
    <style>
      .gridsetoverlaywrap {
        left: 4%;
        right: 4%;
        opacity: 0.5;
      }
    </style>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-3660187-2', 'auto');
  </script>
</head>
<body id="capra" class="<%= custom_page_classes %>">
  <div class="wrapper">
    <% if available? %>
      <div id="work-bar">
        We're available for new projects! <%= link_to("Contact us", "/contact/") %>
      </div>
    <% end %>
    <%= partial "header" %>
    <main role="main">
      <%= yield %>
    </main>
    <%= partial "footer" %>
  </div>
  <% if app.build? %>
    <script>
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>