<% content_for(:title, article['title']) %>
<% content_for(:description, Nokogiri::HTML(truncate(markdown(article[:body]), length: 115)).text) %>

<section class="blog">
  <article itemscope itemtype="http://schema.org/Article" class="blog-entry">
    <header>
      <div class="anim-content">
        <h1 itemprop="name"><%= article[:title] %></h1>
        <div class="meta">
          <time itemprop="datePublished" datetime="current_page.date.strftime('%b %e %G')">
            <%= article[:date].strftime('%b %e, %G') %>
          </time>
          <% if article[:author] %>
            <span itemprop="author"> : <%= article[:author][0][:name] %></span>
          <% end %>
        </div>
      </div>
    </header>
    <div itemprop="articleBody" class="blog-body">
      <%= markdown(article[:body]) %>
    </div>
    <% if article['tags'] %>
      <%= sentence_tag_list(article) %>
    <% end %>
  </article>
  <% with_preview(space: ENV['CONTENTFUL_SPACE_ID'], access_token: ENV['CONTENTFUL_ACCESS_TOKEN']) do |preview| %>
    <% entry = preview.entry('nyancat') %>
    <p><%= entry.title %></p>
  <% end %>
</section>