<footer id="footer">
  <%= partial "social_links", :locals => { :twitter_link => "thisiscapra", :facebook_link => "thisiscapra", :github_link => "thisiscapra" }  %>
  <p>© <%= Time.now.year %> Capra Limited</p>
  <p><%= link_to("Made in Ottawa", "http://madeinottawa.org/") %>, Canada</p>
  <p>Built using <%= link_to("Middleman", "http://middlemanapp.com") %>, fonts supplied by <%= link_to("typography.com", "http://typography.com") %>, continuous deployment via <%= link_to("Travis", "https://travis-ci.org") %> and hosting from <%= link_to("Divshot", "http://divshot.com") %>.</p>
  <%= partial "page_navigation", :locals => { :blog => true } %>
</footer>