<footer class="site-footer">
  <%= partial "social_links", :locals => { 
      twitter_link: "thisiscapra", 
      facebook_link: "thisiscapra", 
      github_link: "thisiscapra", 
      linkedin_link: "company/capra-limited", 
      behance_link: "thisiscapra"
    }
  %>
  <p>© <%= Time.now.year %> Capra Limited - <%= link_to("Made in Ottawa, Canada", "http://madeinottawa.org/") %></p>
  <p>Built using <%= link_to("Middleman", "https://middlemanapp.com") %><br>Fonts supplied by <%= link_to("typography.com", "http://typography.com") %><br>Continuous deployment via <%= link_to("Travis", "https://travis-ci.org") %><br>Hosting from <%= link_to("Netlify", "https://netlify.com") %></p>
  <%= partial "page_navigation", :locals => { :social => false } %>
</footer>