<header id="header">
  <%= partial "logo" %>
  <nav id="menu">
    <ul>
      <li><%= link_to("Work", "/work") %></li>
      <li><%= link_to("About", "/about") %></li>
      <li><%= link_to("Labs", "/labs") %></li>
      <li><%= link_to("Contact", "/contact") %></li>
    </ul>
  </nav>
</header>