---
pageable: true
per_page: 10
---

<section class="blog">
  
  <% if paginate && num_pages > 1 %>
    <small>Page <%= page_number %> of <%= num_pages %></small>

    <% if prev_page %>
      <p class="read-more"><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h2><%= link_to article.title, article %></h2>
      <time datetime="article.date.strftime('%b %e %G')"><%= article.date.strftime('%b %e, %G') %></time>
      <p><%= Nokogiri::HTML(article.summary).text %></p>
      <p class="read-more"><%= link_to("Read more...", article) %></p>
    </article>
    
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p class="read-more"><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>

</section>