---
pageable: true
per_page: 10
---

<% content_for(:title, "Archive") %>

<section class="archive blog">

  <header>
    <h1>Archive for
      <% case page_type
         when 'day' %>
        <%= Date.new(year, month, day).strftime('%b %e %Y') %>
      <% when 'month' %>
        <%= Date.new(year, month, 1).strftime('%b %Y') %>
      <% when 'year' %>
        <%= year %>
      <% end %>
    </h1>
  </header>

  <div class="blog-list">
    
    <% if paginate && num_pages > 1 %>
      <small>Page <%= page_number %> of <%= num_pages %></small>

      <% if prev_page %>
        <p class="read-more"><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    <% end %>

    <% page_articles.each do |article| %>
      <%= partial "blog_summary", :locals => { :article => article } %>
    <% end %>

    <% if paginate %>
      <% if next_page %>
        <p class="read-more"><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>

  </div>

</section>