---
work_item: true
---

<% content_for(:title, item.name) %>
<% content_for(:description, Nokogiri::HTML(item.intro(115)).text) %>
<% content_for(:page_class, item.url) %>

<section class="labs work-item">

  <header class="client-header">
    
    <h1><%= item.name %></h1>

    <p class="intro"><%= item.home_intro %></p>

    <% if item.link %>
      <p class="project-link"><%= link_to("Live project", item.link, class: "button") %></p>
    <% end %>

    <%= partial "client_navigation", :locals => {:client => item} %>

  </header>

  <div>

    <div class="row">
      
      <p class="intro"><%= item.intro %></p>

      <% if item.what_we_did %>
        <div class="what-we-did">
          <ul>
            <% item.what_we_did.each_with_index do |item, index| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>

    <% if item.images %>
      <div class="gallery lab-gallery">
        <% item.images.each_with_index do |image, index| %>
          <% if index == 1 && item.sub_text %>
            <p class="sub-text"><%= item.sub_text  %></p>
          <% end %>
          <figure class="image">
            <%= image_tag("#{item.image_path}/#{image}") %>
          </figure>
        <% end %>
      </div>
    <% end %>

    <p class="hire">Like what you see? <%= link_to("Hire us", "/contact") %></p>

  </div>

</section>