---
pageable: true
per_page: 10
---

<% content_for(:title, "Articles tagged #{tagname}") %>
<% content_for(:description, "Articles tagged #{tagname} on Ollie & Kat") %>

<section class="archive blog">

  <header>
    <h1>Articles tagged '<%= tagname %>'</h1>
  </header>

  <div class="blog-list">
    
    <% if paginate && num_pages > 1 %>
      <small>Page <%= page_number %> of <%= num_pages %></small>

      <% if prev_page %>
        <p class="read-more"><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    <% end %>

    <% page_articles.each do |article| %>
      <%= partial "blog_summary", :locals => { :article => article } %>
    <% end %>

    <% if paginate %>
      <% if next_page %>
        <p class="read-more"><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>

  </div>

</section>