---
work_item: true
---

<% content_for(:title, client.name) %>
<% content_for(:description, Nokogiri::HTML(client.intro(115)).text) %>
<% content_for(:page_class, client.url) %>

<section class="work work-item">

  <header class="client-header">
    
    <h1><%= client.name %></h1>

    <% if client.link %>
      <p class="project-link"><%= link_to("Live project »", client.link) %></p>
    <% end %>

    <%= image_tag("#{client.image_path}/#{client.image_featured}", :alt => "") if client.image_featured %>

    <%= partial "client_navigation", :locals => {:client => client} %>

  </header>

  <div>

    <div class="row">
      
      <p class="intro"><%= client.intro %></p>

      <% if client.what_we_did %>
        <div class="what-we-did">
          <ul>
            <% client.what_we_did.each_with_index do |item, index| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>

    <hr>

    <% if client.images %>
      <div class="gallery">
        <% client.images.each_with_index do |image, index| %>
          <% if index == 2 && client.sub_text %>
            <p class="sub-text"><%= client.sub_text  %></p>
          <% end %>
          <% if index == 4 && client.testimonial %>
            <%= partial "client_blockquote", :locals => {:client => client, featured: false}  %>
          <% end %>
          <figure class="image">
            <%= image_tag("#{client.image_path}/#{image}") %>
          </figure>
        <% end %>
      </div>
    <% end %>

    <hr>

    <h2>Other work</h2>
    <ul class="work-list feature">
      <% 
        featured_clients = data.work_items.clients[0...9]
        featured_clients.delete_if{|item| client.name == item.name }
        featured_clients.sample(3).each do |client| %>
        <li>
          <% link_to("/work/#{client.url}/") do %>
          <% image_url = "#{client.image_path}/#{client.image_thumb}" %>
          <%= image_tag(image_url, :alt => "") %>
          <h2><%= client.name %></h2>
        <% end %>
        </li>
      <% end %>
    </ul>

    <hr>

    <p class="hire">Like what you see? <%= link_to("Hire us", "/contact") %></p>

  </div>

</section>