---
work_item: true
---

<% content_for(:title, client.name) %>
<% content_for(:description, Nokogiri::HTML(client.intro(115)).text) %>
<% content_for(:page_class, client.url) %>

<section class="work work-item">

  <header class="work-header">
    
    <h1><%= client.name %></h1>

    <p><%= client.home_intro %></p>

    <% if client.link %>
      <p class="project-link"><%= link_to("Live project", client.link, class: "button", target: "_blank") %></p>
    <% end %>

  </header>

  <%= partial "client_navigation", locals: { client: client, work_pages: work_pages, url: url} %>

  <div class="work-content">

    <% if client.intro %>
      <div class="work-intro">
        <h3>The project</h3>    
        <%= client.intro.html_safe %>
      </div>
    <% end %>

    <% if client.what_we_did %>
      <div class="what-we-did">
        <h3>Our role</h3>  
        <ul>
          <% client.what_we_did.each_with_index do |item, index| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <hr>

  <% if client.images %>
    <div class="gallery">
      <% client.images.each_with_index do |image, index| %>
        <% if index == 1 && client.sub_text %>
          <p class="sub-text"><%= client.sub_text  %></p>
          <hr>
        <% end %>
        <% if index == 2 && client.testimonial %>
          <%= partial "client_blockquote", :locals => {:client => client, featured: false}  %>
        <% end %>
        <figure class="image">
          <%= image_tag("#{client.image_path}/#{image}") %>
        </figure>
      <% end %>
    </div>
  <% end %>

  <p class="hire">Like what you see? <%= link_to("Hire us", "/contact") %></p>

</section>

<section class="featured-projects other-work">

  <ul class="work-list feature">
    <% 
      featured_clients = work_pages[0...9]
      featured_clients.delete_if{|item| item.name == client.name }
      #$stderr.puts featured_clients
      featured_clients.sample(3).each do |f| %>
      <li class="<%= f.url %> client">
        <% link_to("/work/#{f.url}/") do %>
          <% image_url = "#{f.image_path}/#{f.image_thumb}" %>
          <%= image_tag(image_url, :alt => "") %>
          <h2><%= f.name %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>

</section>